body {
    margin: 0;
    padding: 0;
}
/* header */
.navbar {
    background-color: #AEB6BF;
}
.container{
    background-color: #D5DBDB;
}
.d-flex{/*form*/
    text-align: right;
}
.form-control{/*input*/
    margin-left: .370rem;/*remove original padding*/
}
/* content */
.content-item {
    background-color: #F2F3F4;
    /* margin-top: 1rem; */
    padding-top: 1rem;
}
.btn-search {
    background-color: red;
}
/* footer */
.bg-footer{
    background-color: #AEB6BF;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}